<section class="page-header">
    <div class="title-name"><%= title %></div>
    <ul class="header-item-list">
        <li><a href="/index">首页</a></li>
        <li><a href="/list">文章</a></li>
        <li><a href="/write">写作</a></li>
        <li><a href="/about">关于</a></li>
    </ul>
</section>